body {
    font-family: Arial, sans-serif;
}

.sidebar {
    /*height: 100vh;*/
    /*background-color: #e1e7ed;*/
    padding-top: 20px;
    background-color: #f8f9fa; /* Color de fondo claro */
    min-height: 100vh; /* Altura completa de la ventana */
    border-right: 1px solid #ddd; /* Línea divisoria */
}

    .sidebar .nav-link {
        display: flex;
        align-items: center;
        padding: 15px;
        font-size: 18px;
        font-weight: bold; /* Texto en negrita */
        border-radius: 8px; /* Bordes redondeados */
        margin: 5px 10px; /* Separación entre enlaces */
        transition: background-color 0.3s ease; /* Transición suave */
    }

        .sidebar .nav-link span {
            margin-right: 10px; /* Espacio entre ícono y texto */
            font-size: 20px; /* Tamaño de ícono */
        }
        .sidebar .nav-link:hover, .sidebar .nav-link.active {
            background-color: #e0e0e0; /* Fondo gris claro al seleccionar o al pasar el cursor */
        }

.navbar-custom {
    background-color: orange; /* Color naranja */
    /*background-color: #FC9D03;*/
    color: white;
}

    .navbar-custom .nav-link {
        color: white; /* Enlaces en blanco */
    }

.hero-section {
    display: flex;
    height: calc(100vh - 56px);
}

.welcome-section {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

    .welcome-section h1 {
        font-size: 2.5rem;
    }

        .welcome-section h1 span {
            color: #d9534f;
        }

    .welcome-section img {
        margin-top: 20px;
        max-width: 80%;
    }

.login-section {
    flex: 1;
    background-color: #ffffff;
    padding: 40px;
    border-left: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

    .login-section h2 {
        margin-bottom: 20px;
    }

.form-control {
    margin-bottom: 15px;
    position: relative;
    padding-left: 35px;
}

    .form-control::before {
        content: attr(data-icon);
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
        font-family: FontAwesome;
        font-size: 1.2rem;
        color: #aaa;
    }

.signup-link {
    margin-top: 20px;
    text-align: center;
    font-size: 0.9rem;
}

    .signup-link a {
        text-decoration: none;
        color: #d9534f;
    }
